body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  background-color: #ededed;
}

header {
  position: relative;
  width: 100%;
  height: auto;
}

.background-image {
  width: 100%;
  height: 667px;
  display: block;
  object-fit: cover;
}

.logo {
  position: absolute;
  width: 207px;
  height: 25px;
  left: 50px;
  top: 50px;
}

.landing-page-title {
  position: absolute;
  width: 55%;
  color: #FFD15B;
  text-align: center;
  font-size: 44px;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.search-container {
  position: absolute;
  width: 70%;
  top: calc(50% + 80px);
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
}


#searchBar {
  flex-grow: 1;
  padding: 20px;
  padding-right: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar-icon {
  position: absolute;
  right: 10px;
  background-color: #1B1B1B;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  width: 25px;
  height: auto;
}

#recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  background-color: #ededed;
  margin: 0 40px;
}

.recipe-card > img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: 30%;
}
.recipe-card {
  flex-basis: 30%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 20px;
  background-color: white;
}

.recipe-card h2 {
  margin: 0;
}

.recipe-text-container {
  padding: 20px;
}

.recipe-card p, .recipe-card li {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.recipe-card h3 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  color: #7A7A7A;
}

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.ingredient-block {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.ingredient-name, .ingredient-quantity {
  font-family: 'Manrope', sans-serif;
}

.ingredient-name {
  font-weight: 14px;
  font-weight: 500;
  color: #1B1B1B;
  line-height: 19.12px;
}

.ingredient-quantity {
  font-size: 14px;
  font-weight: 400;
  color: #7A7A7A;
}
